<link rel="stylesheet" href="css/nav.css" />
<nav class="navbar-container">
  <div class="nav-logo">
    <img src="/frontend/image/logowashup.png" alt="WASH UP Logo" height="50" />
    <span style="color: #d71920; font-weight: bold; margin-left: 10px"
      >STAFF PORTAL</span
    >
  </div>
  <div class="nav-links">
    <a href="staff-dashboard.html" class="nav-item active">กระดานคิวงาน</a>
    <a href="staff-history.html" class="nav-item">ประวัติรายวัน</a>
  </div>
  <div class="nav-auth" id="nav-auth-section-staff"></div>
</nav>
