<link rel="stylesheet" href="/frontend/css/footer.css" />

<footer class="footer-container">
  <div class="footer-grid">
    <div class="footer-col-1">
      <img
        src="/frontend/image/logowashup.png"
        alt="WASH UP Logo"
        class="footer-logo"
      />
      <p>ระบบจองคิวล้างรถ</p>
    </div>

    <div class="footer-col-2">
      <h4>ระบบจองคิวล้างรถ</h4>
      <ul>
        <li><a href="index.html">หน้าแรก</a></li>
        <li><a href="bookingnocar.html">จองบริการล้างรถ</a></li>
        <li><a href="Login.html">เข้าสู่ระบบ</a></li>
        <li><a href="Register.html">สมัครสมาชิก</a></li>
        <li><a href="history.html">ประวัติ</a></li>
      </ul>
    </div>

    <div class="footer-col-3">
      <h4>ติดต่อเรา</h4>
      <div class="footer-socials">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-tiktok"></i></a>
      </div>
    </div>
  </div>
</footer>
